<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd 
                        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                        ">

	<!--jdbc数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
		<!-- 连接属性 -->
		<property name="connectionProperties" value="clientEncoding=UTF-8" />
		<!-- 连接池最大使用连接数 -->
		<property name="maxTotal" value="50" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="5" />
		<!-- 获取连接最大等待时间(毫秒) -->
		<property name="maxWaitMillis" value="3000" />
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="35" />
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="3" />
		<!-- 检查连接是否活跃SQL -->
		<property name="validationQuery" value="select 1" />
		<!-- 检查连接是否活跃的超时时间(秒) -->
		<property name="validationQueryTimeout" value="3" />
		<!-- 借出连接前测试 -->
		<property name="testOnBorrow" value="false" />
		<!-- 回收不可用的空闲连接 -->
		<property name="testWhileIdle" value="true" />
		<!-- 清除空闲连接的时间(毫秒) -->
		<property name="timeBetweenEvictionRunsMillis" value="30000" />
		<!-- 自动清除无用连接 -->
		<property name="removeAbandonedOnMaintenance" value="true" />
		<property name="removeAbandonedOnBorrow" value="true" />
		<!-- 清除无用连接的等待时间(秒) -->
		<property name="removeAbandonedTimeout" value="180" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:mapper/*-mapper.xml" />
		<property name="configLocation" value="classpath:config/mybatis.xml" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.appjishu.passport.dao,com.appjishu.site.*.dao" />
<!-- 		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" /> -->
	</bean>

	<!-- 使用annotation注解方式配置事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- 使用JDBC事务 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>
